:root {
    --pr-color: #048804;
}
html {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3fff4;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #000;
}

footer a {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;

}

.textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #c4c4c4;
    width: 100%;
    height: 75px;
    resize: vertical;
    border: 0px;
    overflow: auto; /* user can resize vertically, but width is fixed */
}

.navbar {
    z-index: 3;
}

.nav-color {
    background-color: var(--pr-color);
}

* {
    z-index: 2;
}

.accsent-img {
    z-index: 1;
}

.img-hero {
    z-index: 1;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}


.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-secondary-cari {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.button-cari {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

#hero {
    background: linear-gradient(160deg, var(--pr-color), #000);
    height: 100vh;
    width: 100%;
}

.img-hero {
    height: 100%;
}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
}

.hero-tagline p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 85%;
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

#layanan {
    padding: 50px 0;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(--pr-color);
}

.sub-title {
    font-size: 18px;
    color: #000;
}

.card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);

    transition: all .2s ease-in;
}

.circle-icon {
    width: 70px;
    height: 70px;
    background-color: var(--pr-color);
    border-radius: 50%;

    transition: all .1s ease-in;
}

.card-layanan h3 {
    color: var(--pr-color);
    font-size: 24px;

    transition: all .2s ease-in;
}

.card-layanan p {
    color: #000;
    font-size: 14px;

    transition: all .3s ease-in;
}

.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background: linear-gradient(160deg, var(--pr-color), #000);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

.card-layanan:hover .circle-icon {
    background-color: #fff;
    transition: all .2s ease-in;
}

.card-layanan:hover h3 {
    color: #fff;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-layanan:hover p {
    color: #fff;
    font-size: 14px;
    transition: all .2s ease-in;
}

#search {
    background-image: url(../Assets/Img-search.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#search h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

#search p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}

.input-cari {
    height: 88px;
}

.input-cari:focus {
    border: none;
}

.input-cari .button-secondary {
    width: 200px;
    height: 88px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--pr-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 0 0 0 10px;
}

.input-cari .button-secondary-cari {
    width: 200px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--pr-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 0 0 0 10px;
}

.input-cari .button-primary {
    height: 75px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 36px;
    font-weight: 500;
    border-radius: 0 10px 0 10px;
}

.input-cari .button-cari {
    height: 75px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 36px;
    font-weight: 500;
    border-radius: 0 10px 0 10px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 0 0;

}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--pr-color);
    border-radius: 0 9px 0 0;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: #000;
    border: none;
}

.card {
    height: 460px;
    border: none;
}

.card-body h4 {
    color: #000;
    font-weight: 600;
    font-size: 24px;
    line-height: 0.8rem;
}

.card-body p {
    color: #141414;
    font-weight: 400;
    font-size: 14px;
}

.card:hover {
    background: linear-gradient(170deg, var(--pr-color), #007245, #007245, #000);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 0.3s;
}

.card:hover .card-body h4 {
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.card:hover .card-body p {
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.card-fasilitas {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;

    background-color: #fff;
}

.card-fasilitas span {
    font-weight: 500;
    margin-top: 18px;
    color: #000;
}

.card-fasilitas p {
    font-size: 12px;
    color: #000;
}

.button-fitur {
    width: 238px;
    height: 63px;
    background-color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

#fiur h2 {
    font-size: 48px;
    font-weight: 500;
}

.card-fitur h5 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;

}

.card-fitur span {
    color: #fff;
    font-size: 14px;
}

.card-fitur h6 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.card-fitur button {
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

.card-fitur .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all ease-in-out .3s;
}

.card-fitur .overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.left {
    margin-left: -20px;
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background-color: var(--pr-color);
    padding: 0;

}

.right {
    margin-right: -20px;
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background-color: var(--pr-color);
    padding: 0;

}

#kontak1 {
    background-image: url(../Assets/kontak.png);
    margin-top: 158px;
}

#kontak1 .overlay {
    background: rgba(0, 0, 0, 0.5);
}

#kontak1 .container {
    padding: 148px 0 148px 0;
}

#kontak1 h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    width: 450px;
}

#kontak1 h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin: 19px 0 14px 0;
}

.kontak a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 18px;
    width: 332px;
    display: inline-block;
}

.linkrumah {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.card-kontak {
    width: 100%;
    height: 445px;
    background-color: #fff;
    border-radius: 5px;
    padding: 52px 48px;

}

.card-kontak h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #00985b;
    text-align: center;
    margin-bottom: 21px;
}

.card-register {
    width: 100%;
    height: 1100px;
    background-color: #fff;
    border-radius: 5px;
    padding: 52px 48px;

}

.card-register h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #00985b;
    text-align: center;
    margin-bottom: 21px;
}

.form-control {
    background: #c4c4c4;
    height: 75px !important;
    border-radius: 0%;
}

.form-floating label {
    font-size: 16px;
    line-height: 18px;
    color: #717171;
}

.button-kontak {
    width: 100%;
    height: 75px;
    background: var(--pr-color);
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

